.container {
	position: relative;

}

.main {
margin: 0 auto;
}

body {
	background-color: FFFFFF
}

.margin-bottom {
margin-bottom:15px;
margin-right:15px;
}

.hidden {
     display:none;
     position: absolute;
}

#returns{
  position: relative;
}

#results{
  position: absolute;
}

#searchButton {
background: #006699;
border-radius:0;
color: white;
}

#returnOptions {
background: #006699;
border-radius:0;
color: white;
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
         margin-right: -20px;
         margin-left: -20px;
}