.bgimage{
	background-image: url(../zohan.jpg);
	background-position:  center;
	background-size: cover;
	height: 400px;
}

.container {
	position: relative;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

body {
	background-color: FF6600
}
