.container {
	position: relative;

}

.main {
margin: 0 auto;
}

body {
	background-color: FFFFFF
}

.margin-bottom {
margin-bottom:15px;
margin-right:15px;
}

.hidden {
     display:none;
     position: absolute;
}

#returns{
  position: relative;
}

#results{
  position: absolute;
}

#searchButton {
background: #006699;
border-radius:0;
color: white;
}

#returnOptions {
background: #006699;
border-radius:0;
color: white;
}

